.cmd-queue{
	display: block;
	overflow: auto;
	position: relative;
	min-height: 200px;
	background-color: #f9f9f9;

	&__row{
		white-space: pre;
		color: #666;
		&:hover{
			background-color: #f3f3f3;
		}
	}
	&__open{
		font-weight: bold;
		color: #000;
		border-top: 1px solid #999;
		&::before{
			// content: "$ ";
		}
	}
	&__close{
		color: #000;
		text-align: center;
		font-size: 60%;
	}
	&__err{
		color: #f00;
	}
}
