.cmd-queue{
	display: block;
	overflow: auto;
	position: relative;
	min-height: 200px;
	background-color: #f9f9f9;

	&__unit{
		border-top: 1px solid #999;
		&-header{
			display: flex;
		}
		&-label{
			font-weight: bold;
			color: #000;
			width: 70%;
			&::before{
				content: "$ ";
			}
		}
		&-status{
			width: 30%;
			text-align: right;
		}
		&-console{
			display: block;
		}
	}
	&__row{
		white-space: pre;
		color: #666;
		&:hover{
			background-color: #f3f3f3;
		}
	}
	&__close{
		color: #000;
		text-align: center;
		font-size: 60%;
	}
	&__err{
		color: #f00;
	}
}
